/* logo design css */
.railway-bd h4{
    margin-left: -60px;
    color:#DA924E;
   
}
/* nav item css */
.nav-item:hover{
    border-bottom: 2px solid #3d2474;
  
    
}
.nav-item{
    padding:3px 6px;
    font-weight: 400;
    
}
.header-nav{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* search select pay css */
#search , .card{
    border: none;
}

/* instruction section css */
#instruction .fa-circle-arrow-right{ 
    color: green;
    border-radius: 50%;
    font-size: 25px;
    
}
.list ul li {
    list-style-type: none;
    margin-left: 100px;
    padding:8px 0px;
    font-size: 16px;

}
.list h2{
    margin-left: 120px;
}
/* payment method css */
#payment-method .dbbl-nexus img{
    width:70px;
}

/* ticket system css */
#ticket-system span{

font-weight: 700;
font-size: 13px;
line-height: 23px;
text-align: center;
color: #333;

}

/* footer part css */
footer .footer-first-part img{
    width: 70px;
    height: 50px;

}

.footer-first-part span{
    font-size: 25px;
    color:#DA924E;
}
.footer-first-part p{
    margin-left: 50px;
}
footer{
    border-top: 3px solid green;
}