/* logo design css */
.railway-bd h4{
    margin-left: -60px;
    color:#DA924E;
   
}
/* nav item css */
.nav-item:hover{
    border-bottom: 2px solid #3d2474;
  
    
}
.nav-item{
    padding:3px 6px;
    font-weight: 400;
    
}
.header-nav{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* search select pay css */
#search , .card{
    border: none;
}

/* instruction section css */
#instruction .fa-circle-arrow-right{ 
    color: green;
    border-radius: 50%;
    font-size: 25px;
    
}
.list ul li {
    list-style-type: none;
    margin-left: 100px;
    padding:8px 0px;
    font-size: 16px;

}
.list h2{
    margin-left: 120px;
}
/* payment method css */
#payment-method .dbbl-nexus img{
    width:70px;
}

/* ticket system css */
#ticket-system span{

font-weight: 700;
font-size: 13px;
line-height: 23px;
text-align: center;
color: #333;

}

/* footer part css */
footer .footer-first-part img{
    width: 70px;
    height: 50px;

}

.footer-first-part span{
    font-size: 25px;
    color:#DA924E;
}
.footer-first-part p{
    margin-left: 50px;
}
footer{
    border-top: 3px solid green;
}


/* login page css */

.login-bg{
    height: 100vh;
    background-image: url("/resources/images/login-page-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

}

.account-box
{
    border: 2px solid rgba(153, 153, 153, 0.75);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2px;
    z-index: 3;
    font-size: 13px !important;
    font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
    background-color: #ffffff;
    padding: 20px;
}

.logo
{
    width: 138px;
    height: 30px;
    text-align: center;
    margin: 10px 0px 27px 40px;
    background-position: 0px -4px;
    position: relative;
}

.forgotLnk
{
    margin-top: 10px;
    display: block;
}

.purple-bg
{
    background-color: #6E329D;
    color: #fff;
}
.or-box
{
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top:20px;
}
.or
{
    color: #666666;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 40px;
    left: 90px;
}
.account-box .btn:hover
{
    color: #fff;
}
.btn-facebook
{
    background-color: #3F639E;
    color: #fff;
    font-weight:bold;
}
.btn-google
{
    background-color: #454545;
    color: #fff;
    font-weight:bold;
}
